<!-- 工具栏数据 -->
<template>
    <div class="toolbar">
        <el-card class="box-card box-style">
            <div slot="header" class="clearfix">
                <span>界面控件设置</span>
                <el-button style="float: right; padding: 3px 0" type="text"><i style="font-size:16px;color: #fff;"
                        class="el-icon-s-fold"></i></el-button>
            </div>
            <div class="card-function">
                <el-switch v-model="searchBtn" inactive-text="搜索按钮："></el-switch>
            </div>
            <div class="card-function">
                <el-switch v-model="homeBtn" inactive-text="home按钮："></el-switch>
            </div>
            <div class="card-function">
                <el-switch v-model="formatSwitch" inactive-text="模式掐换："></el-switch>
            </div>
            <div class="card-function">
                <el-switch v-model="baseMapSwitch" inactive-text="底图切换："></el-switch>
            </div>
            <div class="card-function">
                <el-switch v-model="animationControls" inactive-text="动画控件："></el-switch>
            </div>
            <div class="card-function">
                <el-switch v-model="timeLine" inactive-text="时间轴："></el-switch>
            </div>
            <div class="card-function">
                <el-switch v-model="fullScreen" inactive-text="全屏控件："></el-switch>
            </div>
            <div class="card-function">
                <el-switch v-model="indicator" inactive-text="指示器："></el-switch>
            </div>
        </el-card>
    </div>
</template>
<script>
export default {
    name: "ToolBar",
    data() {
        return {
            searchBtn: false, // 搜索按钮
            homeBtn: false, // home按钮
            formatSwitch: false, // 模式掐换
            baseMapSwitch: false, // 底图切换
            animationControls: false, // 动画控件
            timeLine: false,// 时间轴
            fullScreen: false, // 全屏控件
            indicator: false,// 指示器
        }
    },
    methods: {

    },
    mounted() {

    }
}
</script>
<style scoped lang="scss">
.toolbar {
    position: absolute;
    width: 500px;
    background-color: rgba(84, 92, 100, .4);
    left: 210px;
    top: 10px;

    .box-style {
        background-color: #545c64;
        color: #fff;
        opacity: .6;
    }
}

.card-function {
    width: 150px;
    float: left;
    padding-bottom: 20px;
}
</style>