<template>
    <div class="administrative">
        <el-card class="box-card box-style">
            <div slot="header" class="clearfix">
                <span>城市行政区划信息展示</span>
                <el-button style="float: right; padding: 3px 0" type="text"><i style="font-size:16px;color: #fff;"
                        class="el-icon-s-fold"></i></el-button>
            </div>
            <div style="margin-top: 20px">
                <el-radio-group v-model="radio" size="small">
                    <el-radio-button label="默认样式"></el-radio-button>
                    <el-radio-button label="基础样式"></el-radio-button>
                    <el-radio-button label="标记标签"></el-radio-button>
                    <el-radio-button label="分色渲染"></el-radio-button>
                    <el-radio-button label="标签+分色渲染"></el-radio-button>
                    <el-radio-button label="渐变"></el-radio-button>
                    <el-radio-button label="高度可视化"></el-radio-button>
                </el-radio-group>
            </div>
        </el-card>
    </div>
</template>
<script>
import { addGeoJson, removeDataSources } from '@/assets/js/cesium'
export default {
    name: 'AdminIstrative',
    data() {
        return {
            radio: '默认样式'
        }
    },
    /*
默认样式 default 
基础样式 basics 
标记标签 sign 
分色渲染 colorSeparation  
标签加分色渲染 tableRender
渐变 gradient
高度可视化 heightVisualization
*/
    watch: {
        radio(newValue) {
            if (newValue === '默认样式') {
                addGeoJson('default')
            } else if (newValue === '基础样式') {
                addGeoJson('basics')
            } else if (newValue === '标记标签') {
                addGeoJson('sign')
            } else if (newValue === '分色渲染') {
                addGeoJson('colorSeparation')
            } else if (newValue === '标签加分色渲染') {
                addGeoJson('tableRender')
            } else if (newValue === '渐变') {
                addGeoJson('gradient')
            } else {
                addGeoJson('heightVisualization')
            }
        }
    },
    mounted() {
        addGeoJson('default')
    },
    // 组件销毁之前
    beforeDestroy() {
        removeDataSources()
    }
}
</script>
<style scoped lang="scss">
.administrative {
    position: absolute;
    width: 750px;
    background-color: rgba(84, 92, 100, .4);
    left: 210px;
    top: 10px;

    .box-style {
        background-color: #545c64;
        color: #fff;
        opacity: .6;
    }
}

</style>