<template>
    <div class='model'>

    </div>
</template>
<script>
import {createRoute} from '@/assets/js/cesium'
export default {
    name:'ModelDemo',
    data() {
        return {

        }
    },
    mounted(){
        createRoute()
    }
}
</script>
<style scoped lang="scss">
.model {
    position: absolute;
    width: 750px;
    background-color: rgba(84, 92, 100, .4);
    left: 210px;
    top: 10px;

}
</style>