<template>
    <div class="routers">
        <el-card class="box-card box-style">
            <div slot="header" class="clearfix">
                <span>飞机道路规划</span>
                <el-button style="float: right; padding: 3px 0" type="text"><i style="font-size:16px;color: #fff;"
                        class="el-icon-s-fold"></i></el-button>
            </div>
            <el-button size="mini" @click="startPlan">开始</el-button>
            <el-button size="mini" @click="doubleSpeed">2X</el-button>

        </el-card>
    </div>
</template>
<script>
import { planeTracker, destroyPlane, startClock, doubleSpeed as Speed } from '@/assets/js/cesium'
export default {
    name: 'RouterRoad',
    data() {
        return {

        }
    },
    methods: {
        startPlan() {
            startClock()
        },
        doubleSpeed() {
            Speed()
        }
    },
    mounted() {
        // 飞机飞行
        planeTracker()
    },
    beforeDestory() {
        destroyPlane()
    }
}
</script>
<style scoped lang="scss">
.routers {
    position: absolute;
    width: 750px;
    background-color: #545c6466;
    left: 210px;
    top: 10px;

    .box-style {
        background-color: #545c64;
        color: #fff;
        opacity: .6;
    }
}
</style>