<template>
    <div class="testView">
        <el-card class="box-card box-style">
            <div slot="header" class="clearfix">
                <span>界面控件设置</span>
                <el-button style="float: right; padding: 3px 0" type="text"><i style="font-size:16px;color: #fff;"
                        class="el-icon-s-fold"></i></el-button>
            </div>
            <div>
                <el-button size="mini" @click="connectPoint">两个点连接</el-button>
                <el-button size="mini" @click="flyHome">goHome</el-button>
                <el-button size="mini" @click="createPoint">创建一个点</el-button>
                <el-button size="mini" @click="controlCamera">控制摄像机</el-button>
                <el-button size="mini" @click="showLNprovince">辽宁省</el-button>
                <el-button size="mini" @click="createCityModule">创建城市模型</el-button>
                <el-button size="mini" @click="flyGo">飞行</el-button>
                <el-button size="mini" @click="measureDistance">测量两个点的距离</el-button>
                <el-button size="mini" @click="createBillboards">创建两个</el-button>
            </div>

        </el-card>
    </div>
</template>
<script>
import { createBillboards, connectPoints, goHome, cameraFlyto, createPoint, controlCamera, loadLnprovince, createCityModule, router1, disTance } from '@/assets/js/cesium'
import classCesium from '@/assets/js/classCesium'
import cesiumCamera from '@/assets/js/cesiumCamera'
export default {
    name: 'TestView',
    // mixins:[publicMixin],
    data() {
        return {

        }
    },
    methods: {
        connectPoint() {
            connectPoints()
        },
        flyHome() {
            goHome()
        },
        createPoint() {
            createPoint(115.419093513, 39.4407363214, 1000)
            cameraFlyto(115.419093513, 39.4407363214, 1000)
        },
        controlCamera() {
            controlCamera()
        },
        showLNprovince() {
            loadLnprovince()
        },
        createCityModule() {
            createCityModule()
        },
        flyGo() {
            router1()
        },
        measureDistance() {
            disTance()
        },
        createBillboards() {
            createBillboards()
        }

    },
    mounted() {
        // cesiumCamera.flyTo(115.419093513, 39.4407363214, 1000)

    }
}
</script>
<style scoped lang="scss">
.testView {
    position: absolute;
    width: 500px;
    background-color: rgba(84, 92, 100, .4);
    left: 210px;
    top: 10px;

    .box-style {
        background-color: #545c64;
        color: #fff;
        opacity: .6;
    }
}

.card-function {
    width: 150px;
    float: left;
    padding-bottom: 20px;
}
</style>