<template>
    <div class="CesiumCamera">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>操作相机</span>
            </div>
            <div>
                <el-button type="primary" size="mini" @click="camearFlyTo">flyTo</el-button>
                <el-button type="primary" size="mini" @click="cameraSetView">setView</el-button>
                <el-button type="success" size="mini" @click="cameraLookUp">lookUp</el-button>
                <el-button type="danger" size="mini" @click="cameraLookDown">lookDown</el-button>
                <br>
                <el-button type="success" size="mini" @click="cameraLookLeft">lookLeft</el-button>
                <el-button type="danger" size="mini" @click="cameraLookRight">lookRight</el-button>


                <el-button type="success" size="mini" @click="cameraMoveUp">moveUp</el-button>
                <el-button type="danger" size="mini" @click="cameraMoveDown">moveDown</el-button>

                <el-button type="success" size="mini" @click="cameraMoveLeft">moveLeft</el-button>
                <el-button type="danger" size="mini" @click="cameraMoveRight">moveRight</el-button>

                <el-button type="success" size="mini" @click="cameraTwistLeft">twistLeft</el-button>
                <el-button type="danger" size="mini" @click="cameraTwistRight">twistRight</el-button>
            </div>
        </el-card>
    </div>
</template>
<script>
import CesiumCamear from '@/assets/cesiumjs/ceiumCamera'
export default {
    name: 'CesiumCamera',
    data() {
        return {

        }
    },
    methods: {
        camearFlyTo() {
            CesiumCamear.flyTo(122, 40, 20000)
        },
        cameraSetView() {
            CesiumCamear.setView(122, 40, 20000)
        },
        cameraLookUp() {
            CesiumCamear.lookUp()
        },
        cameraLookDown() {
            CesiumCamear.lookDown()
        },
        cameraLookLeft() {
            CesiumCamear.lookLeft()
        },
        cameraLookRight() {
            CesiumCamear.lookRight()
        },
        cameraMoveUp() {
            CesiumCamear.moveUp()
        },
        cameraMoveDown() {
            CesiumCamear.moveDown()
        },
        cameraMoveLeft() {
            CesiumCamear.moveLeft()
        },
        cameraMoveRight() {
            CesiumCamear.moveRight()
        },
        cameraTwistLeft() {
            CesiumCamear.twistLeft()
        },
        cameraTwistRight() {
            CesiumCamear.twistRight()
        }
    },
}
</script>
<style scoped lang="scss">
.CesiumCamera {
    position: absolute;
    top: 10px;
    left: 210px;
    z-index: 9;
}

.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.box-card {
    width: 480px;
    background-color: #545c64;
    color: #fff;
}

button {
    margin-top: 10px;
}
</style>