<template>
    <div class="home">
        <div class="home_menu">
            <el-menu default-active="1" class="el-menu-vertical-demo" background-color="#545c64" text-color="#fff"
                active-text-color="#ffd04b">
                <el-submenu index="1">
                    <template slot="title">
                        <i class="el-icon-location"></i>
                        <span>基础配置操作</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1" @click="toPath('camera')">相机系统</el-menu-item>
                        <el-menu-item index="1-2" @click="toPath('model')">添加点信息</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </div>
        <div class="home_cesium">
            <CesiumMap />
        </div>
        <router-view />
    </div>
</template>
<script>
import CesiumMap from '@/components/cesium.vue'
export default {
    components: {
        CesiumMap
    },
    data() {
        return {

        }
    },
    methods: {
        toPath(e) {
            if (this.$route.path != '/' + e) {
                this.$router.push('/' + e)
            }else{
                return 
            }
            // this.$router.push('/camera')
            // console.log(this.$route.path);
        }
    }
}
</script>
<style scoped lang="scss">
.home {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    .home_menu {
        width: 200px;
        height: 100%;
        background-color: #545c64;
    }

    .home-cesium {
        width: auto;
        height: 100%;
    }
}
</style>