<template>
    <div class="cesium">
        <div id="cesiumMap">
            
        </div>
    </div>
</template>
<script>
import { CreateCesium } from '@/assets/cesiumjs/index'
import CesiumCamear from '@/assets/cesiumjs/ceiumCamera'
export default {
    name: 'CesiumMap',
    data() {
        return {

        }
    },
    methods: {

    },
    created() {

    },
    mounted() {
        CreateCesium('cesiumMap')
        // setTimeout(function () {
        //     CesiumCamear.goHome()
        // }, 3000)

    }

}
</script>
<style scoped lang="scss">
.cesium {
    width: 100%;
    height: 100%;

    #cesiumMap {
        width: 100%;
        height: 100%;
        position: relative;
    }
}
</style>